*{
    margin:0;
    padding:0;
    font-family: "Montserrat", sans-serif;
}

body, html{
    overflow: hidden;
}

.Page{
    width: 100%;
    height: 100vh;
    position: absolute;
}

#MainBackground{
    width: 100%;
    height: 100%;
    position: absolute;
    filter: brightness(80%);
    
}

.DownMain, .UpMain{
    position: relative;
}

.UpMain{
    width: 98vw;
    height: 50px;
    padding: 1%;
    display: flex;
    border-radius: 15px;
    justify-content: space-between;
}



#language-switcher {
    width: 200px;
    height: 50px;
    appearance: none;       
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    color: #fff;

    padding: 8px 20px;
    border-radius: 1%;
    border: none;
    background-color: rgba(8, 51, 8, 0.451);
    font-size: 16px;
    

    
    padding-right: 20px;
    background-image: url("Resource/talk.png"); 
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 45px;
}

#language-switcher option {
  background-color: #063a0f;  /* fondo del desplegable */
  color: #ffffff;             /* texto de cada opción */
  padding: 8px;
  border: none;
}

#language-switcher option:focus{
    color: #063a0f;
}

#language-switcher:focus {
  outline: none;
  box-shadow: none; /* algunos navegadores ponen glow */
  border: none;
}

.DownMain{
    margin: 5%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.Maintext h1{
    font-size: 700%;
    letter-spacing: 3px;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: fit-content;
    margin-bottom: 1%;
}

.Main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shadow__btn {
  padding: 15px 25px;
  border: none;
  font-size: 17px;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

a{
    color: #fff;
    text-decoration: none;
}

.shadow__btn {
  background: rgba(8, 51, 8, 0.493);
  box-shadow: 0 0 25px rgba(8, 51, 8, 0.493);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(8, 51, 8, 0.493),
              0 0 25px rgb(8, 51, 8, 0.493),
              0 0 50px rgb(8, 51, 8, 0.493);
}



.TextContent2, .InfoContent2{
    width: 40%;
    height: 85%;
    position: relative;
    border-radius: 20px;
    background-color: #063a0f;
}

.TextContent2{
    width: 25%;
    justify-content: center;
    text-align: center;
    margin-right: 100px;
}

.TextContent2 h2{
    font-size: 2vw;
    letter-spacing: 1rem;
    color: #d3f394;
    text-decoration: underline;
    text-align: center;
}

.TextContent2 h3{
    font-size: 2rem;
    color: #d3f394;
    font-style: italic;
    margin-bottom: 15px;
}


.InfoContent2{
    display: flex;
    justify-content: center;
    place-items: center;
}




#MainBackground2{
    width: auto;
    height: 100vh;
    filter:brightness(75%);
    position: absolute;
    box-shadow: inset 1px 1px 1px rgb(red, green, blue);
}

#Page2{
    display: flex;
    justify-content: space-between;
    place-items: center;
    background-color: #3f593b;
}

.escena {
    width: 100%;
    max-width: 600px;
    min-width: 350PX;
    aspect-ratio: 1/1;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.cilindro {
  width: 60%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1.2s ease-in-out;
}

.cilindro img {
    aspect-ratio: 1/1;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 20px green;
}

/* Distribuir imágenes alrededor del cilindro */
.cilindro img:nth-child(1) {
  transform: rotateY(0deg) translateZ(200px);
}
.cilindro img:nth-child(2) {
  transform: rotateY(90deg) translateZ(200px);
}
.cilindro img:nth-child(3) {
  transform: rotateY(180deg) translateZ(200px);
}

.cilindro img:nth-child(4) {
  transform: rotateY(270deg) translateZ(200px);
}

@media (max-width: 768px){
    #MainBackground{
        width: 200%;
        transform: translateX(-270px);
        
    }

    .Main{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: end;
        background-color: aqua;
    }

    .Maintext h1{
        font-size: 70px;
    }
    .Maintext h2{
        font-size: 18px;
        width: 60%;
    }

    .DownMain{
        width: 100vw;
        height: fit-content;
        margin: 0px 0px 15px 5%;
        padding: 0;
        display: flex;
    }

    .UpMain{
        margin-bottom: 20%;
    }

    .cilindro img:nth-child(1) {
      transform: rotateY(0deg) translateZ(60px);
    }
    .cilindro img:nth-child(2) {
      transform: rotateY(90deg) translateZ(60px);
    }
    .cilindro img:nth-child(3) {
      transform: rotateY(180deg) translateZ(60px);
    }

    .cilindro img:nth-child(4) {
      transform: rotateY(270deg) translateZ(60px);
    }

    #Page2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        place-items: center;
        background-color: #3f593b;
}
.TextContent2{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0;
}

.TextContent2 h2{
    font-size: 6vw;
}

.TextContent2 h3{
    font-size: 5vw;
}


}